@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


html {
  scroll-behavior: smooth;
}

/* Footer */
.footer {
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px 0; /* Reduced padding */
  font-size: 14px; /* Reduced font size */
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
}

.footer__container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  row-gap: 1.5rem; /* Reduced gap */
  display: grid;
  gap: 1rem; /* Reduced gap */
}

.footer__title {
  font-size: 1rem; /* Reduced font size */
  margin-bottom: 0.5rem; /* Reduced margin */
  font-weight: 600;
  line-height: 0.5;
}

.footer__link {
  text-decoration: none;
  color: darkgray;
  font-size: 0.75rem; /* Reduced font size */
}

.footer__links {
  list-style: none;
  display: grid;
  row-gap: 0.4rem; /* Reduced gap */
}

.footer__social {
  display: flex;
  column-gap: 1rem; /* Reduced gap */
}

.footer__link:hover {
  text-decoration: underline;
  color: rgb(213, 213, 213);
}

.footer__social-link {
  color: white;
  font-size: 1rem; /* Reduced font size */
}

.footer__copy {
  margin-top: 2rem; /* Reduced margin */
  text-align: center;
  font-size: 0.7rem; /* Reduced font size */
}

@media screen and (max-width: 360px) {
  .footer {
    padding: 2rem 0 1rem; /* Adjusted padding */
  }
}

@media screen and (min-width: 576px) {
  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 767px) {
  .footer {
    margin: 0;
    padding: 4rem 0 2rem; /* Adjusted padding */
  }
}

@media screen and (min-width: 968px) {
  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer__social {
    align-items: flex-start;
  }
  .footer__social-link {
    font-size: 1.2rem; /* Adjusted font size */
  }
}

@media screen and (min-width: 1024px) {
  .footer__container {
    margin-left: auto;
    margin-right: auto;
    column-gap: 2rem; /* Reduced gap */
  }
}